body{
background-color:lightgray;
}
.container{
text-align: center;
background-color: blue;
color: white;
height: 930px;
}
a{
color:lightgray;
font-weight: bold;
font-size: 1.25rem;
}
table{
border: 2px solid black;
}
tr,td{
border: 2px solid black;
}
.move{
text-align: center;
}
img{
height:200px;
margin-left: auto;
margin-right: auto;
}
.timg{
height:100px;
width:100px;
}
.table{
width: 100x;
overflow: hidden;
}
